/* CONTENT */
.App_withSidebarContent {
    flex-grow: 1;
    flex-shrink: 1;
}
.Section_content {
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track:hover{
    background-color:rgba(0,0,0,.05);
    box-shadow:inset 1px 0 0 rgba(0,0,0,.1)
}
::-webkit-scrollbar-thumb{
    border: 1px;
    background:rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 5px rgba(255,255,255,.1); 
}
::-webkit-scrollbar-thumb:window-inactive{
    background: #fff;
    border: 1px;
}

/* Body-student */
.Home_wrapper-exam5 {
    position: absolute;
    left: 110px;
    top: 95px;
}
.SectionList_wrapper5 {
    width: 1775px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.SectionList_headingWrap5 {
    margin-bottom: 26px;
}
.SectionList_heading5 {
    margin-left: 24px;

    font-weight: bold;
    font-size: 24px;
}

.SectionList_bodyWrap5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.Exam_examItem5 {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 0px 0px 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 18px;

    width: 1775px;
    height: 99px;
    margin-bottom: 32px;
}
.green_retangle5 {
    width: 5px;
    height: 98px;
    background: linear-gradient(180deg, rgba(17, 153, 142, 0.5) 0%, rgba(129, 145, 60, 1) 70%);
}
.examItem_wrapper5 {
    width: 1770px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item_label-red5 {
    height: 57px;
    width: 720px;
    margin-left: 18px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.item_label-red5 label {
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}
.item_label-red5 span {
    font-weight: bold;
    font-size: 18px;
    color: #DF2E2E;
}
.item_label-red5 h1 {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.item_infomation5 {
    width: 800px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item_infomation5 div {
    margin-right: 50px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item_infomation5-professor {
    width: 400px;
}
.item_infomation5-longtime {
    width: 400px;
    margin-right: 47px;
}
.item_infomation5 label {
    font-weight: bold;
    font-size: 14px;
    color: #000000;

    margin-top: 4px;
    margin-left: 8px;
}
.item_infomation5 p {
    font-weight: normal;
    font-size: 14px;
    color: #000000;

    margin-top: 3.4px;
    margin-left: 8px;
}
.item_infomation5 h5 {
    font-weight: bold;
    font-size: 14px;
    color: #000000;

    margin-top: 4px;
    margin-left: 8px;
}
span.icon_teacher5 {
    color: #65D6CE;
}
span.icon_timer5 {
    color: #FA9579;
}

.item_join {
    background: #1AAD8A;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;

    margin-right: 75px;
    width: 156px;
    height: 39px;
}
.joined {
    background: white;
}
.not_joined_yet {
    cursor: pointer;
}
.not_joined_yet:hover {
    opacity: 0.95;
    color: rgba(0, 0, 0, 0.75);
}